:root {
  --btn-color: #c47344;
  --btn-link-color: white;
}
::selection {
  background: #c47344;
}
body {
  padding-top: 45px;
  background: linear-gradient(#fff8ee, white);
  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  min-width: 1440px;
  margin:0 auto;
}
.VnavV {
  margin:auto;
  max-width: 1440px;
  padding: 10px;
}
.logo {
  margin-top: 20px;
}
.navV {
  float: right;
  margin-top: 25px;
  display: flex;
}
.nav li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}
.nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  height: 40px;
  padding: 10px;
}
.nav a:hover {
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
  transition-property: all;
  transition-duration: 1s;
}
.nav a:active {
  color: #c47344;
}
.btnC {
  text-align: center;
  margin-top: 20px;
  display: flex;
  margin: 0%;
}
.btn1 {
  background: #c47344;
  border-radius: 50px;
  text-align: center;
  width: 100px;
  color: var(--btn-link-color);
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  margin: auto;
}
.btn1:hover {
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
  transition-property: all;
  transition-duration: 1s;
}
.btn1:active {
  color: black;
}
.text-osn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 33px;
  color: #322f2e;
}

.containerr{
  width: 1440px;
  margin: 0 auto;
}

.ART_ALL{
  width: 1440px;
  margin: 0 auto;
}

.container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 119px;
  text-align: center;
  color: #322f2e;
}
.container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 33px;
  text-align: center;
  width: 524px;
  margin: auto;
  margin-bottom: 20px;
}
.container a:hover {
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
  transition-property: all;
  transition-duration: 1s;
}
.container a:active {
  color: black;
}
.New-Report p {
  background: #f9a38f;
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
  width: 51px;
  margin-right: auto;
  margin-left: auto;
}
.New-Report {
  display: flex;
  width: 230px;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 177px;
}
.New-Report2 {
  background: #f9a38f;
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  height: 25px;
  width: 54px;
  margin-left: 310px;
  margin-bottom: 20px;
  text-align: center;
}
.New-Report span {
  background: #f9ede2;
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: #000;
  position: absolute;
  left: 51%;
  z-index: 1;
  height: 25px;
  width: 190px;
  margin-left: 15px;
}
.img {
  display: block;
  margin: auto;
  padding-top: 50px;
  width: 100%;
}
.Wacarta {
  position: relative;
  display: block;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  background: none;
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #c47344;
  text-decoration: none;
}
.Wacarta img {
  position: absolute;
  padding-top: 0;
  padding-left: 10px;
}
.img2 {
  display: block;
  margin: auto;
  padding-top: 99px;
  width: auto;
}
.QQQ {
  margin: auto;
  width: 930px;
}
.Qq1 {
  position: relative;
  padding-top: 130px;
  display: grid;
  grid-template-columns: 480px 480px;
}
.Qq2 {
  position: relative;
  display: grid;
  grid-template-columns: 480px 480px;
}
.QqQ {
  width: 450px;
  box-sizing: border-box;
  background: #fffaf2;
  border: #dddddd solid 1px;
  box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 50px;
  padding-bottom: 30px;
  margin-top: 30px;
}
.QqQ img {
  display: block;
  margin: auto;
}
.QqQ a {
  background: #fffaf2;
  border: #dddddd solid 2px;
  box-sizing: border-box;
  border-radius: 50px;
  width: 150px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  display: block;
  margin: auto;
  color: black;
  text-decoration: none;
}
.QqQ h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
}
.QqQ p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.NewCardQ h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  animation: ani 8s forwards;
}
.NewCardQ p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  animation: ani 8s forwards;
}
.NewCardQ a {
  background: #fffaf2;
  border: #dddddd solid 2px;
  box-sizing: border-box;
  border-radius: 50px;
  width: 150px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  display: block;
  margin: auto;
  color: black;
  text-decoration: none;
  animation: ani 8s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.NewCardQ {
  width: 930px;
  box-sizing: border-box;
  background: #fffaf2;
  border-radius: 20px;
  border: #dddddd solid 1px;
  box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 50px;
  padding-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
.loader {
  position: absolute;
  border: #f3f3f3 solid 16px;
  border-top: 16px solid #c47344;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite, annn 5s linear forwards;
  margin-top: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes annn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader:hover {
  transition-property: all;
  transition-duration: 2s;
}
.QQQ a:hover {
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
  transition-property: all;
  transition-duration: 1s;
}
.QQQ a:active {
  color: #c47344;
}
.new-does {
  margin-left: 655px;
  margin-top: -300px;
}
.new-does h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 53px;
  line-height: 62px;
  margin-bottom: 23px;
  text-align: left;
  width: 470px;
}
.new-does p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  margin-top: 11px;
  margin-bottom: 23px;
  text-align: left;
  width: 300px;
}
.Q {
  background: white;
  border: #dddddd solid 2px;
  box-sizing: border-box;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 150px;
  font-weight: bold;
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;
}
.new-does a:hover {
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
  transition-property: all;
  transition-duration: 1s;
}
.new-does a:active {
  color: #c47344;
}
.BCND {
  margin: auto;
  width: 1400px;
}
.End p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  width: 313px;
  margin-bottom: 30px;
}
.End img {
  margin-top: 146px;
}
.End2 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.End3 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #d3d3d3;
  width: 313px;
}
.End3 img {
  margin-top: 35px;
}
.card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  height: 64px;
  color: #fff;
}
.Bcard {
  margin-left: 350px;
  margin-top: 250px;
}
.card {
  color: #ffffff;
  position: relative;
  z-index: 2;
  width: 170px;
  height: 230px;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10px;
  background-color: #32686f;
  box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.55);
}
.card-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}
.ST {
  position: absolute;
  height: 20px;
  right: 22px;
  bottom: 22px;
}
.Q a {
  color: black;
  text-decoration: none;
}
.nav1 li {
  list-style-type: none;
  margin-right: 45px;
  font-weight: bold;
  margin-top: 7px;
}
.nav1 a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}
.nav1 a:hover {
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
  transition-property: all;
  transition-duration: 1s;
}
.nav1 a:active {
  color: #c47344;
}
.nav2 {
  margin-left: 660px;
  margin-top: -585px;
}
.nav3 {
  margin-left: 876px;
  margin-top: -225px;
}
.nav4 {
  margin-left: 1100px;
  margin-top: -150px;
}
.nav5 img {
  margin-left: 10px;
}
.nav5 p {
  margin-left: 980px;
  margin-top: 330px;
  color: #d3d3d3;
  margin-bottom: 80px;
}
.Niz {
  margin: auto;
  width: 1250px;
}
.ART_ALL {
  margin: auto;
  margin-top: 135px;
  width: 100%;
}
.ART {
  display: flex;
  width: 1200px;
  padding: 43px 20px 45px 60px;
  align-items: center;
  border-radius: 10px;
  background: #faf7f3;
  margin: auto;
}
.ART h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  margin-top: -40px;
  margin-left: 51px;
}
.ART p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 32px;
  margin-top: 24px;
  margin-left: 51px;
  width: 544px;
}
.ART input {
  height: 55px;
  width: 380px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
  border: #ffffff solid 1px;
  box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.08);
  padding-left: 20px;
  margin-left: 51px;
  z-index: 1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}
.ART button {
  position: absolute;
  margin-left: -50px;
  z-index: 2;
  margin-top: 10px;
  background-color: transparent;
  border: transparent solid 1px;
}
.Niz2 {
  margin-top: auto;
  width: 100%;
  margin: auto;
  width: 1250px;
}
.INF {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 40px 60px 20px 60px;
  align-items: center;
  border-radius: 10px;
  background: #faf7f3;
}
.INF:hover {
  box-shadow: -5px 5px #c47344;
}
.INF legend {
  font-size: 20px;
  font-weight: bold;
}
.INF P {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}
.OTH input {
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 10px;
  border: #ffffff solid;
  box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.08);
  padding-left: 20px;
  height: 55px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  outline: none;
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.OTH {
  font-size: 20px;
  font-weight: 500;
}
.RADIO {
  font-size: 20px;
  font-weight: 500;
}
.RADIO input {
  margin-right: 10px;
  margin-bottom: 20px;
}
.RADIO input:checked + span {
  color: #c47344;
}
.CHECK {
  font-size: 20px;
  font-weight: 500;
}
.CHECK input:checked + span {
  color: #c47344;
}
.CHECK input {
  margin-right: 10px;
  margin-bottom: 20px;
}
.OtSb button {
  background: #c47344;
  border-radius: 50px;
  text-align: center;
  width: 100px;
  color: var(--btn-link-color);
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.OtSb {
  display: table;
  margin: 0 auto;
  padding-top: 30px;
}
.OtSb button:hover {
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgb(0, 0, 0, 0.25));
  transition-property: all;
  transition-duration: 1s;
}
.OtSb button:active {
  color: black;
}
.OtSb button:disabled {
  background: #886d5d;
}
input:focus {
  outline: none;
  border: #c47344 solid 2px;
}
input::placeholder {
  color: gray;
}
input:required {
  background-color: #fcf4ef;
}
dt {
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
dd {
  margin-right: 40px;
  margin-bottom: 3%;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
dd::first-letter {
  font-size: 50px;
  font-weight: 500;
  color: #c47344;
}
dt.psevdo::after {
  content: " \1F6C8";
}
.INF ul {
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  padding-left: 0;
}
li input:checked + span {
  text-decoration: line-through;
}
.psevdoelement li:nth-child(odd) {
  background-color: #d1ac97;
}
.psevdoelement li:nth-child(even) {
  background-color: #f5e1d4;
}
.psevdoclass li:nth-child(odd) {
  background-color: #d1ac97;
}
.psevdoclass li:nth-child(even) {
  background-color: #f5e1d4;
}
.Grad section {
  max-width: 800px;
  margin: 0 auto;
}
.INF2 {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 40px 60px 20px 60px;
  border-radius: 10px;
  background: #faf7f3;
  display: flex;
}
.INF2:hover {
  box-shadow: -5px 5px #c47344;
}
.INF2 legend {
  font-size: 20px;
  font-weight: bold;
}
.INF2 h2 {
  margin-top: 10px;
  text-align: center;
}
.INF2 div {
  margin: auto;
  padding: 2em;
  width: 100px;
}
.linear {
  background-image: repeating-linear-gradient(
    0.3turn,
    #c47344 0 10px,
    #f5e1d4 10px 20px
  );
}
.radial {
  background-image: radial-gradient(#c47344, #f5e1d4);
  margin: 0 auto;
}
.conic {
  background-image: conic-gradient(
    #c47344,
    #d1ac97,
    #f5e1d4,
    #f5e1d4,
    #d1ac97,
    #c47344
  );
}
.wrap {
  display: inline-block;
  margin: 0 40px 2em 0;
}
.wrap div {
  width: 170px;
  height: 100px;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}
.one {
  background-image: repeating-linear-gradient(
    1turn,
    #c47344 0 10px,
    #f5e1d4 10px 20px
  );
}
.one:hover {
  transform: translateX(40px);
}
.two {
  background-image: repeating-linear-gradient(
    0.25turn,
    #f5e1d4 0 10px,
    #c47344 10px 20px
  );
}
.two:hover {
  transform: scaleY(1.3);
}
.three {
  background-image: radial-gradient(#c47344, #f5e1d4);
}
.three:hover {
  transform: rotateX(51deg) rotateY(35deg) perspective(700px);
}
.four {
  background-image: radial-gradient(#f5e1d4, #c47344);
}
.four:hover {
  transform: rotateX(360deg);
}
.five {
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #c47344;
  transition: width 5s, height 5s, background-color 5s, transform 5s;
}
.five:hover {
  background-color: #f5e1d4;
  width: 200px;
  height: 200px;
  transform: rotate(180deg);
}
.six {
  background-image: conic-gradient(
    #f5e1d4,
    #d1ac97,
    #c47344,
    #c47344,
    #d1ac97,
    #f5e1d4
  );
  transition-timing-function: ease-out;
}
.six:hover {
  transform: translateX(60px);
}

.ccontainerr{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 45px;
}