:root {
  --btn-color: #c47344;
  --btn-link-color: white;
}

body {
  background-color: #fff8ee;
}

h2.rely {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 119px;

  text-align: center;
}

h2.tile {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
}

h2.quizTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 53px;
  line-height: 62px;
}

h3.quiz {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;

  color: #ffffff;
}

.nav-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}

.t-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 33px;
}

.t-normal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.t-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.btn {
  background: var(--btn-color);
  border-radius: 50px;
}

.btn-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;

  color: var(--btn-link-color);
  text-decoration: none;

  text-align: center;
}

.btn-link:hover {
  color: #eeeeee;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

a.acarta {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--btn-color);
}

a.acarta:hover {
  text-decoration: underline;
}

.arrow-input svg image {
  fill: black;
}

.notify-new {
  background: #f9a38f;
  border-radius: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;

  text-align: center;

  color: #ffffff;
}

.notify-report {
  background: #f9ede2;
  border-radius: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;

  text-align: center;

  color: #000;
}

.tile-btn {
  border: 2px solid #e1ded9;
  box-sizing: border-box;
  border-radius: 50px;
}

.tile-btn-link {
  color: black;
  text-decoration: none;
}
.tile-btn-link:hover {
  color: var(--btn-color);
}

.card {
  background-color: #32686f;
}

.card-link {
  color: white;
  text-decoration: none;
}
.card-link:hover {
  text-decoration: underline;
}

.grid-item {
  background-color: #fffaf2;
}

.t-weak {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;

  color: #d3d3d3;
}

a.td-none {
    text-decoration: none;
}

a.td-none:hover {
    text-decoration: underline;
}
