:root {
  --btn-color: #c47344;
  --btn-link-color: white;
}

body {
  padding-top: 45px;
  padding-left: 70px;
  padding-right: 70px;

  background-color: #fff8ee;

  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.nav li {
  list-style-type: none;
  display: inline;
  margin-right: 45px;
}

.nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.btn1 {
  background: var(--btn-color);
  border-radius: 50px;
  text-align: center;
  width: 129px;
  height: 47px;

  border: 0;
}

.btn1 a {
  color: var(--btn-link-color);
  text-decoration: none;
}

.text-osn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 33px;

  color: #322f2e;
}

.container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 119px;

  text-align: center;

  color: #322f2e;
}

.container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 33px;
}

.New-Report {
  background: #f9a38f;
  border-radius: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;

  text-align: center;

  color: #ffffff;
}
.New-Report span {
  background: #f9ede2;
  border-radius: 20px; /*mmmm*/

  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;

  text-align: center;

  color: #000;
}

.Wacarta {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--btn-color);
}

.QqQ button {
  border: 2px solid #e1ded9;
  box-sizing: border-box;
  border-radius: 50px;
}

.QqQ a {
  color: black;
  text-decoration: none;
}

.QqQ h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
}

.QqQ p{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.new-does h2{
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 53px;
  line-height: 62px;
}

.new-does p{
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}

.new-does input{
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}

.End p{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.End2 p{
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}

.End3 p{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;

  color: #d3d3d3;
}

.card p{
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.card {
  background-color: #32686f;
  color: #ffffff;
}

.card-link {
  color: white;
  text-decoration: none;
}

.nav1 li {
  list-style-type: none;
  margin-right: 45px;
  font-weight: bold;
}

.nav1 a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}